.top {
 background-color: #68b0ab;
 padding-bottom: 4rem;
}

.middle {
background-color: #16697a;
color: white;
}

.bottom {
 background-color: #16697a;
 color: white;
}

body {
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  line-height: normal;
}

h1 {
  font-size: 60px;
  text-align: center;
  top: 50px;
  margin: 50px auto 0 auto;
}

h2 {
  padding-top: 2rem;
}

.nav {
  background-color: #68b0ab;
  list-style-type: none;
  margin: 0;
  padding: 2rem;
  color: #1a1c20;
}

.profile{
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #16697a;
}

li {
  display: inline;
  padding-left: 3rem;
  padding-right: 3rem;
  float: left;
}

.btn{
  color: white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.web_developer {
  text-align: center;
  margin: 0 auto 0 auto;
  font-size: 1rem;
  padding-top: 2rem;
}

.cloud1 {
  position: absolute;
  left: 30rem;
  padding-top: 0.5rem;
}

.cloud2 {
  position: absolute;
  right: 30rem;
}

.pp {
  height: 20%;
  width: 20%;
  padding-top: 1rem;
}

.computer {
  height:40%;
  width:40%;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 2rem;
}

.maths{
  height:40%;
  width:40%;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-left: 2rem;
}

.skill-row-1{
  width: 50%;
  margin: 3rem 1rem;
  text-align: left;
  line-height: 2;
  padding-bottom: 2rem;
  left: 10rem;
}

.skill-row-2{
  width: 50%;
  margin: 1rem 30rem ;
  text-align: left;
  line-height: 2;
  padding-bottom: 2rem;
  right: 2rem;
}

.skills{
  background-color: #68b0ab;
}

.title{
  background-color: #133b5c;
}

.footer-link{
  padding-top: 1rem;
}
